<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<!-- Before -->

<!-- <!-- display page number if the total number of pages(totalItems) is greater than zero --> -->
<!-- 		<div class="text-center m-1" th:if="${totalItems > 0}"> -->
<!-- 			<span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]] </span> -->
<!-- 		</div> -->
<!-- 		<div class="text-center m-1" th:unless="${totalItems > 0}"> -->
<!-- 			<span>No users found</span> -->
<!-- 		</div> -->
		
<!-- 		<div> -->
<!-- 			<nav th:if="${totalPages > 1}"> shows the pagination if the number of pages is more than 1 -->
<!-- 			  <ul class="pagination justify-content-center flex-wrap"> -->
<!-- 			  disable the first page button if the number is less than or equal to 1 -->
<!-- 			    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}"> -->
<!-- 			    first page view 
<!-- 			    	sorting for first page ?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  -->
<!-- 			    --> -->
<!-- 			    	<a class="page-link" th:href="@{/users/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a> -->
<!-- 			   		<a th:replace="fragments :: page_link(1,'First')"></a> -->
<!-- 			    </li> -->
<!-- 			    disable the previous page button if the number is less than or equal to 1  -->
<!-- 			    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">  -->
<!-- 			     previous page view 
<!-- 			     	sorting for previous page '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} -->
<!-- 			     --> -->
<!-- 			    	<a class="page-link" th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a> -->
			    
<!-- 			    	<a th:replace="fragments :: page_link(${currentPage - 1},'Previous')"></a> -->
<!-- 			    </li> -->
			   
<!-- 			    active page based on the current page view or number -->
<!-- 			    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"  -->
<!-- 			    	th:each="i : ${#numbers.sequence(1,totalPages)}"> -->
<!-- 			    	 page numbers from 1 to the last page -->
<!-- 			    	<a class="page-link" th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a> -->
<!-- 			    	<a th:replace="fragments :: page_link(${i}, ${i})"></a> -->
<!-- 			    </li> -->
			   
<!-- 			    disable the next page button if the current page view is the last page -->
<!-- 			    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}" > -->
<!-- 			    next page view -->
<!-- 			   		<a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a> -->
<!-- 			    	<a th:replace="fragments :: page_link(${currentPage + 1}, 'Next')"></a> -->
<!-- 			    </li> -->
<!-- 			    disable the last page button if the current page view is the last page -->
<!-- 			    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}"> -->
<!-- 			   		last page view -->
<!-- 			   		<a class="page-link" th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a> -->
<!-- 			    	<a th:replace="fragments :: page_link(${totalPages}, 'Last')"></a> -->
<!-- 			    </li> -->
<!-- 			  </ul> -->
<!-- 			</nav> -->
<!-- 		</div> -->


<!-- After -->
<div th:fragment = "pagination(moduleURL, entityName)" th:remove = "tag">
	<!-- display page number if the total number of pages(totalItems) is greater than zero -->
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]] </span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No [[${entityName}]] found</span>
		</div>
		
		<div>
			<nav th:if="${totalPages > 1}"> <!-- shows the pagination if the number of pages is more than 1 -->
			  <ul class="pagination justify-content-center flex-wrap">
			  <!-- disable the first page button if the number is less than or equal to 1-->
			    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
			    <!-- first page view 
			    	sorting for first page ?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} 
			    -->
			    	<!-- <a class="page-link" th:href="@{/users/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a> -->
			   		<a th:replace="fragments :: page_link(${moduleURL}, 1,'First')"></a>
			    </li>
			    <!-- disable the previous page button if the number is less than or equal to 1  -->
			    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}"> 
			     <!-- previous page view 
			     	sorting for previous page '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
			     -->
			    	<!-- <a class="page-link" th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a> -->
			    
			    	<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1},'Previous')"></a>
			    </li>
			   
			    <!-- active page based on the current page view or number -->
			    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" 
			    	th:each="i : ${#numbers.sequence(1,totalPages)}">
			    	 <!-- page numbers from 1 to the last page -->
			    	<!-- <a class="page-link" th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a> -->
			    	<a th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})"></a>
			    </li>
			   
			    <!-- disable the next page button if the current page view is the last page-->
			    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}" >
			    <!-- next page view -->
			   		<!-- <a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a> -->
			    	<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')"></a>
			    </li>
			    <!-- disable the last page button if the current page view is the last page-->
			    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
			   		<!-- last page view -->
			   		<!-- <a class="page-link" th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a> -->
			    	<a th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')"></a>
			    </li>
			  </ul>
			</nav>
		</div>

</div>

</body>
</html>