<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- The header has been moved to fragments.html 

NB ${pageTitle} is used here because it is stated in the 
user controller that the pageTitle should be pass the title in the 
page head tag
-->

<!-- <head th:replace="fragments :: page_head(${pageTitle})"></head> -->
<head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu">
	</div>
	<div>
		<!-- <h2>Manage Users | Create New User</h2> -->
		<h2>Manage Categories | [[${pageTitle}]]</h2>
	</div>
	
	<!-- "this" used in the parameter of onsubmit="return checkUnique(this)" refers to the form itself-->
	<form th:action="@{/categories/save}" method="post" style="max-width: 500px; margin: 0 auto;"
		enctype="multipart/form-data"
		onsubmit="return checkUnique(this)"
		th:object="${category}">
		<!-- hidden field. ID of the category object. thus the ID of the category being edited-->
		<input type="hidden" th:field="*{id}">
		
		<div class="border border-secondary rounded p-3">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Category Name:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" th:field="*{name}" required="required" minlength="3" maxlength="128">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Alias:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" th:field="*{alias}" required="required" minlength="3" maxlength="64">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Parent Category:</label>
				<div class="col-sm-8">
					<select class="form-control" th:field="*{parent}">
						<option value="0">[No Parent]</option>
						<th:block th:each="cat : ${listCategories}">
							<option th:value="${cat.id}">[[${cat.name}]]</option>
						</th:block>
					</select>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Image:</label>
				<div class="col-sm-8">
				
				<!-- hidden field that store photos -->
				<input type="hidden" th:field="*{image}">
				<!-- accept indicate it should accept only jpeg and png file 
				
				-->
					<input type="file" id="fileImage" name="fileImage" accept="image/png,image/jpeg"
					th:required="${category.imagePath == null}"
					class="mb-2" />
					
					<!--  display the thumbnail of the images -->
					<!-- <img alt="Photos preview" th:src="@{/images/default-user.png}" id="thumbnail"
					class="img-fluid" style="width:100px" /> -->
					
					<div class="mt-2">
						<!-- th:src="@{${category.imagePath}}" will display the image on the form when you click on edit button -->
						<img alt="Image preview" th:src="@{${category.imagePath}}" id="thumbnail"
						class="img-fluid" style="width:100px" />
					</div>
				</div>
			</div>
			
				
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Enabled:</label>
				<div class="col-sm-8">
					<input type="checkbox" th:field="*{enabled}">
				</div>
			</div>
			
			
			<div class="text-center">
				<input type="submit" value="Save" class="btn btn-primary m-3">
				<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
			</div>
		</div>
	</form>
	
	<div th:replace="modal_fragments :: modal_dialog"></div>
	
	<div th:replace="fragments :: footer"></div>
 </div>
 <script type="text/javascript">

MAX_FILE_SIZE = 102400; //100KB

 moduleURL = "[[@{/categories}]]";
 
 /* function to check category  item uniqueness on before form submission*/	
 function checkUnique(form){
 
 	/* fields to check for category uniqueness*/
 	catId = $("#id").val();
 	catName = $("#name").val();
 	catAlias = $("#alias").val();
 	
 	/*NB for csrfValue check code inspection in browser developer options
 		csrf is spring security future. To pass spring security csrf value
 		token must be used
 	*/
 	csrfValue = $("input[name='_csrf']").val();
 	
 	/* the value of the url is the path in the CategoryRestController*/
 	
 	url = "[[@{/categories/check_unique}]]";
 	
 	/*NB The name attribute value of the annotation @Param must match with the 
 	paramters in BrandRestController */
 	
 	params = {id: catId, name: catName, alias: catAlias, _csrf: csrfValue};
 	
 	 	
 	/*sends post request to the server with the given url and params*/
 	
 	$.post(url, params, function(response){
 		//alert(response);
 		
 		//checks response from the server
 		if(response == "OK"){
 			form.submit();
 		}else if(response == "DuplicateName"){
 			showWarningModal("There is another category having the same name " + catName);
 		}else if(response == "DuplicateAlias"){
 			showWarningModal("There is another category having the same alias " + catAlias);
 		}else{
 			showErrorModal("Unknown response from server");
 		}
 		
 	}).fail(function(){
 		//alert("failed");
 		
 		showErrorModal("Could not connect to the server");
 	});
 	
 	
 	
  return false;
 }
 	
 	
 </script>
 <script th:src="@{/js/common_form.js}"></script>
</body>
</html>